# Download S&P 500 constituents from CRSP using WRDS

In [1]:
import wrds

db = wrds.Connection(wrds_username='talsup')

Loading library list...
Done

In [22]:
import pandas as pd
from datetime import datetime

In [23]:
sp500 = db.raw_sql('SELECT * FROM crsp.dsp500list')

In [24]:
sp500.head()

    permno       start      ending
0  10006.0  1957-03-01  1984-07-18
1  10030.0  1957-03-01  1969-01-08
2  10049.0  1925-12-31  1932-10-01
3  10057.0  1957-03-01  1992-07-02
4  10078.0  1992-08-20  2010-01-28

In [25]:
sp500['start'] = sp500['start'].map(lambda x: x.strftime('%Y%m%d'))
sp500['ending'] = sp500['ending'].map(lambda x: x.strftime('%Y%m%d'))

sp500['permno'] = sp500['permno'].astype('int')
print(sp500.head())
print(sp500.dtypes)

   permno     start    ending
0   10006  19570301  19840718
1   10030  19570301  19690108
2   10049  19251231  19321001
3   10057  19570301  19920702
4   10078  19920820  20100128
permno     int64
start     object
ending    object
dtype: object

In [26]:
sp500.to_csv('../sp500_constituents.csv', index = False)